<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myygjc.ant.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_mayi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EleSearchActivity" />
        <activity android:name=".activity.MaterialDetailActivity" />
        <activity
            android:name=".activity.ShopActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.UserDetailActivity" />
        <activity android:name=".activity.SureMoneyActivity" />
        <activity android:name=".activity.MyMoneyActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx4a74cb4e4a87b588" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ResultBackActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.NewLocationActivity" />

        <receiver android:name=".MyReceiver" />

        <activity android:name=".activity.FindOrderActivity" />
        <activity android:name=".activity.LookOrderActivity" />
        <activity android:name=".activity.MaterialAllActivity" />
    </application>

</manifest>